In [23]:
# utility
import pandas as pd
import numpy as np
from scipy.io import arff
import seaborn as sns

dataset = arff.loadarff('ames_housing.arff')
data = pd.DataFrame(dataset[0])

print("Number of rows in the data:", data.shape[0])
print("Number of columns in the data:", data.shape[1])
original_data = data.copy() # Keep a copy our original data

Number of rows in the data: 2930
Number of columns in the data: 81

## One hot encoding
We are going to OneHotEncode the discrete variable

In [29]:
one_hot_encode_cols = data.dtypes[data.dtypes == np.object]
one_hot_encode_cols = one_hot_encode_cols.index.tolist()


data_oh = pd.get_dummies(data, columns=one_hot_encode_cols, drop_first=True)
data_oh.head()

C:\Users\ricca\AppData\Local\Temp\ipykernel_18872\1703775790.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  one_hot_encode_cols = data.dtypes[data.dtypes == np.object]

,Lot_Frontage,Lot_Area,Year_Built,Year_Remod_Add,Mas_Vnr_Area,BsmtFin_SF_1,BsmtFin_SF_2,Bsmt_Unf_SF,Total_Bsmt_SF,First_Flr_SF,...,Sale_Type_b'ConLw',Sale_Type_b'New',Sale_Type_b'Oth',Sale_Type_b'VWD',Sale_Type_b'WD ',Sale_Condition_b'AdjLand',Sale_Condition_b'Alloca',Sale_Condition_b'Family',Sale_Condition_b'Normal',Sale_Condition_b'Partial'
0,141.0,31770.0,1960.0,1960.0,112.0,2.0,0.0,441.0,1080.0,1656.0,...,0,0,0,0,1,0,0,0,1,0
1,80.0,11622.0,1961.0,1961.0,0.0,6.0,144.0,270.0,882.0,896.0,...,0,0,0,0,1,0,0,0,1,0
2,81.0,14267.0,1958.0,1958.0,108.0,1.0,0.0,406.0,1329.0,1329.0,...,0,0,0,0,1,0,0,0,1,0
3,93.0,11160.0,1968.0,1968.0,0.0,1.0,0.0,1045.0,2110.0,2110.0,...,0,0,0,0,1,0,0,0,1,0
4,74.0,13830.0,1997.0,1998.0,0.0,3.0,0.0,137.0,928.0,928.0,...,0,0,0,0,1,0,0,0,1,0