## Import dataset with pandas

In [ ]:
import pandas
from scipy.io import arff

dataset = arff.loadarff('ames_housing.arff')
data = pandas.DataFrame(dataset[0])
data.head()

In [65]:
data.describe()

,Lot_Frontage,Lot_Area,Year_Built,Year_Remod_Add,Mas_Vnr_Area,BsmtFin_SF_1,BsmtFin_SF_2,Bsmt_Unf_SF,Total_Bsmt_SF,First_Flr_SF,...,Enclosed_Porch,Three_season_porch,Screen_Porch,Pool_Area,Misc_Val,Mo_Sold,Year_Sold,Sale_Price,Longitude,Latitude
count,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,57.647782,10147.921843,1971.356314,1984.266553,101.096928,4.177474,49.705461,559.071672,1051.255631,1159.557679,...,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068,-93.642897,42.034482
std,33.499441,7880.017759,30.245361,20.860286,178.634545,2.233372,169.142089,439.540571,440.968018,391.890885,...,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357,0.025700,0.018410
min,0.000000,1300.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,0.000000,0.000000,334.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000,-93.693153,41.986498
25%,43.000000,7440.250000,1954.000000,1965.000000,0.000000,3.000000,0.000000,219.000000,793.000000,876.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000,-93.660218,42.022088
50%,63.000000,9436.500000,1973.000000,1993.000000,0.000000,3.000000,0.000000,465.500000,990.000000,1084.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000,-93.641806,42.034662
75%,78.000000,11555.250000,2001.000000,2004.000000,162.750000,7.000000,0.000000,801.750000,1301.500000,1384.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000,-93.622113,42.049853
max,313.000000,215245.000000,2010.000000,2010.000000,1600.000000,7.000000,1526.000000,2336.000000,6110.000000,5095.000000,...,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000,-93.577427,42.063388

## Tentativo di predizione

> Escludiamo le colonne non numeriche e le colonne contenenti categorie

In [64]:
import numpy as np

y_np = data['Sale_Price'].to_numpy()
y_np = y_np[:, np.newaxis]
print(f'y shape: {y_np.shape}')

X = data._get_numeric_data()
X = X.loc[:, ~X.columns.isin(
    ['Sale_Price', 'Longitude', 'Latitude', 'TotRms_AbvGrd'])]
X = X.loc[:, ~X.columns.isin(
    [col for col in X if len(X[col].value_counts()) < 13])]
X_np = X.to_numpy()
X_np = X_np.T
print(f'X shape: {X_np.shape}')

# generiamo dei coefficenti random per provare
th = np.random.ranf((1, X_np.shape[0]))
print(f'th shape: {th.shape}')

m = y_np.shape[0]
learning_rate = 0.0001
for i in range(0, 10000):
    # normalizzare la media
    J = (1/(2*m)) * np.sum(((th @ X_np) - y_np.T)**2)
    
    # deve diminuire
    if i % 1000 == 0:
        print(J)
        
    # discesa del gradiente
    th -= learning_rate*((1/m) * (((th @ X_np) - y_np.T) @ X_np.T)) # 1*2930 @ 2930*20 = 1*20
    # print(th)

y shape: (2930, 1)
X shape: (20, 2930)
th shape: (1, 20)
87528.29089210971

C:\Users\david\AppData\Local\Temp\ipykernel_23920\1930371380.py:31: RuntimeWarning: overflow encountered in matmul
  th -= learning_rate*((1/m) * (((th @ X_np) - y_np.T) @ X_np.T)) # 1*2930 @ 2930*20 = 1*20
C:\Users\david\AppData\Local\Temp\ipykernel_23920\1930371380.py:24: RuntimeWarning: invalid value encountered in matmul
  J = (1/(2*m)) * np.sum(np.abs(((th @ X_np) - y_np.T)))
C:\Users\david\AppData\Local\Temp\ipykernel_23920\1930371380.py:31: RuntimeWarning: invalid value encountered in matmul
  th -= learning_rate*((1/m) * (((th @ X_np) - y_np.T) @ X_np.T)) # 1*2930 @ 2930*20 = 1*20

nan
nan
nan
nan
nan
nan
nan
nan
nan